<!--
<app-diretiva-ngswitch></app-diretiva-ngswitch>


<app-diretiva-ngfor></app-diretiva-ngfor>
<app-diretiva-ngclass></app-diretiva-ngclass>
<app-diretiva-ngstyle></app-diretiva-ngstyle>

<app-operador-elvis></app-operador-elvis>
<app-exemplo-ngcontent>
  <div class="titulo">Título do Painel</div>
  <div class="corpo">
    Conteúdo pssado para o componente <b>ng-content</b> teste curso angular
  </div>
  <br>

</app-exemplo-ngcontent>
-->
<app-diretivas-customizadas></app-diretivas-customizadas>
