<!--
<section class="property-binding">
  <article>
    <h3>Interpolation</h3>
    <p>String renderizada com interpolação <b> {{url}} </b></p>
    <p>resultado de 1 + 1 é : <b> {{1+1}} </b> </p>
    <p>(getvalor) resultado de 1 + 1 não é : <b> {{1+1 + getValor()}} </b> </p>
    <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }} </p>
  </article>
  <article>
    <h3>Property binding</h3>
    <img src="{{urlImagem}}">
    <img [src]="urlImagem">
    <img bind-src="urlImagem">
  </article>
  <article>
    <h3>Class and style binding</h3>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Warning</option>
        <option value="alert-danger">Erro</option>
      </select>
      <br><br>
      <div class="alert {{classe.value}}" role="alert">Texto Colorido conforme o valor do combobox</div>
      <div class="alert" role="alert" [class.alert-success]="classe.value =='alert-success' ">sucesso</div>
      <div class="alert" role="alert" [class.alert-info]   ="classe.value =='alert-info' "   >Info</div>
      <div class="alert" role="alert" [class.alert-warning]="classe.value =='alert-warning' ">Warning</div>
      <div class="alert" role="alert" [class.alert-danger] ="classe.value =='alert-danger' " >Erro</div>
      <div class="alert alert-danger" role="alert"
      [style.display]="classe.value =='alert-danger' ? 'block':'none'">Esse texto somente aparece em caso de erro</div>

    </div>
  </article>

  <article>
    <h3>Event Binding</h3>
    <div>
      <button  (click)="botaoClicado()"
      class="btn btn-primary">clique aqui</button>
      <br><br>
      <input type="text" #campoinput
      (keyup)="onKeyUp($event)"
      (keyup.enter) = "salvarValor($event.target.value)"
      (blur) = "salvarValor(campoinput.value)"
      />
      <p>Valor atual: {{valorAtual}}</p>
      <p>Valor salvo: {{valorSalvo}}</p>
      <br>
      <span
      (mouseover)="onMouseOverOut()"
      (mouseout)="onMouseOverOut()"
      [class.highlight] = "isMouseOver"
      >
        PASSE O MOUSE AQUI
      </span>
    </div>
  </article>
</section>

<section class="two-way-binding">
  <article>
    <h3>Two-way data binding</h3>
    <div>

      <input type="text" [value]="nome" (input)="nome = $event.target.value"  >

      <input type="text"  [ngModel] ="nome"  (ngModelChange)   ="nome = $event" >

      <input type="text"  [(ngModel)] ="nome">


      <p>Voce digitou: {{nome}} </p>

    </div>
    <div>
      <input type="text" [(ngModel)]="pessoa.nome">
      <input type="text" [(ngModel)]="pessoa.idade">

      <p>Meu nome  é {{pessoa.nome}} e tenho {{pessoa.idade}} </p>
    </div>
  </article>
</section>
-->
<section class="input-output-properties">
  <article>
    <h3>Input/Output Properties</h3>
    <app-curso [nomeCurso]="nomeDoCurso"></app-curso>

    <app-contador valor="10"
    (mudouValor)="onMudouValor($event)" ></app-contador>
  </article>
</section>
